/.idea/
/target/
/resources/
/database-data/.mongodb/mongosh/639e178c6fc48200c4ae7e17_log
/database-data/.mongodb/mongosh/639e1793f967a2de5129ccb9_log
/database-data/_mdb_catalog.wt
/database-data/collection-0--2343576277799749006.wt
/database-data/collection-2--2343576277799749006.wt
/database-data/collection-4--2343576277799749006.wt
/database-data/collection-7--2343576277799749006.wt
/database-data/.mongodb/mongosh/config
/database-data/.mongodb/mongosh/snippets/index.bson.br
/database-data/index-1--2343576277799749006.wt
/database-data/index-3--2343576277799749006.wt
/database-data/index-5--2343576277799749006.wt
/database-data/index-6--2343576277799749006.wt
/database-data/index-8--2343576277799749006.wt
/database-data/index-9--2343576277799749006.wt
/database-data/diagnostic.data/metrics.2022-12-17T19-24-56Z-00000
/database-data/diagnostic.data/metrics.2022-12-17T19-25-18Z-00000
/database-data/diagnostic.data/metrics.interim
/database-data/mongod.lock
/database-data/.mongodb/mongosh/mongosh_repl_history
/database-data/.mongodb/mongosh/snippets/package.json
/database-data/sizeStorer.wt
/database-data/storage.bson
/database-data/WiredTiger
/database-data/WiredTiger.lock
/database-data/WiredTiger.turtle
/database-data/WiredTiger.wt
/database-data/WiredTigerHS.wt
/database-data/journal/WiredTigerLog.0000000002
/database-data/journal/WiredTigerPreplog.0000000001
/database-data/journal/WiredTigerPreplog.0000000002
